@model Lab.EF.MVC.Models.CategoryView

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center text-primary">Create Category</h2>

<hr />

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    @Html.Partial("_Categories")
}






