@model List<Lab.EF.MVC.Models.CategoryView>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<hr />

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>
                 Category ID
            </th>
            <th>
                 Category Name
            </th>
            <th>
                 Description
            </th>
            <th>
                 Picture
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => category.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => category.CategoryName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => category.Picture)
                </td>
            </tr>
        }
    </tbody>
</table>

