@model Lab.EF.MVC.Models.CustomerView

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create Customer</h2>

<hr />

@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{

    @Html.Partial("_Customers")
}


