@model Lab.EF.MVC.Models.CustomerView

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Edit Customer</h2>

<hr />

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
{
    @Html.Partial("_Customers")
}

