@model List<Lab.EF.MVC.Models.OrderView>

@{
    ViewBag.Title = "Orders";
}

<h2 class="text-center">Orders</h2>

<hr />

<table id="tabla" class="table-hover">
    <thead>
        <tr class="active">
            <th>
                Order ID
            </th>
            <th>
                Customer ID
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Order Date
            </th>
            <th>
                Required Date
            </th>
            <th>
                Shipped Date
            </th>
            <th>
                Ship Via
            </th>
            <th>
                Freight
            </th>
            <th>
                Ship Name
            </th>
            <th>
                Ship City
            </th>
            <th>
                Ship Country
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
<script>
    $(document).ready(function () {
        $("#tabla").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("Order/GetAll")",
                "type": "POST",
                "datatype": "json"
            },
            "pageLength": 10,
            "filter": false,
            "responsivePriority": 1,
            "data": null,
            "columns": [
                { "data": "OrderID", "name": "OrderID", "autoWidth": true },
                { "data": "CustomerID", "name": "CustomerID", "autoWidth": true },
                { "data": "EmployeeID", "name": "EmployeeID", "autoWidth": true },
                { "data": "OrderDate", "name": "OrderDate", "autoWidth": true },
                { "data": "RequiredDate", "name": "RequiredDate", "autoWidth": true },
                { "data": "ShippedDate", "name": "ShippedDate", "autoWidth": true },
                { "data": "ShipVia", "name": "ShipVia", "autoWidth": true },
                { "data": "Freight", "name": "Freight", "autoWidth": true },
                { "data": "ShipName", "name": "ShipName", "autoWidth": true },
                { "data": "ShipCity", "name": "ShipCity", "autoWidth": true },
                { "data": "ShipCountry", "name": "ShipCountry", "autoWidth": true },
            ]
               
        });
    })
</script>
} 

