@model List<Lab.EF.MVC.Models.ShipperView>

@{
    ViewBag.Title = "Shippers";
}

<h2 class="text-center">Shippers</h2>

<button class="btn btn-primary btn-lg" id="getAll">Get All</button>

<hr />

<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>
                Shipper ID
            </th>
            <th>
                Company Name
            </th>
            <th>
                Phone
            </th>

        </tr>
    </thead>
    <tbody id="shippers">
    </tbody>
</table>

@section scripts{
<script>
    $(document).ready(function () {
        function GetShippers() {
            $.ajax({
                url: "/Shipper/GetAll",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (data) {
                    var row = "";
                    $.each(data, function (index, item) {
                        row += "<tr><td>" + item.ShipperID + "</td><td>" + item.CompanyName + "</td><td>" + item.Phone + "</td></tr>";
                    });
                    $("#shippers").html(row);
                },
                error: function (result) {
                    alert("Error");
                },
            });
        };

        $('#getAll').click(function () {
            GetShippers();
        });
    });

</script>
} 
