@model List<Lab.EF.MVC.Models.ShipperView>

@{
    ViewBag.Title = "Shippers";
}

<h2>Shippers</h2>

<hr />

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>
                Shipper ID
            </th>
            <th>
                Company Name
            </th>
            <th>
                Phone
            </th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var shipper in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => shipper.ShipperID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shipper.CompanyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => shipper.Phone)
                </td>

            </tr>
        }
    </tbody>
</table>
