@model List<Lab.EF.MVC.Models.EmployeeView>

@{
    ViewBag.Title = "Employees";
}

<h2 class="text-center">Employees</h2>

<button class="btn btn-primary btn-lg" id="getAll">Get All</button>

<hr />

<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>
                Employee ID
            </th>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Title
            </th>
     
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Home Phone
            </th>
            <th>
                Reports To
            </th>
        </tr>
    </thead>
    <tbody id="employees">
    </tbody>
</table>

<script src="/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        function GetEmployees() {
            $.ajax({
                url: "/Employee/GetAll",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (data) {
                    var row = "";
                    $.each(data, function (index, item) {
                        row += "<tr><td>" + item.EmployeeID + "</td><td>" + item.LastName + "</td><td>"
                            + item.FirstName + "</td><td>" + item.Title + "</td><td>" + item.City +
                            "</td><td>" + item.Region + "</td><td>" + item.HomePhone + "</td><td>" +
                            item.ReportsTo + "</td></tr>";
                    });
                    $("#employees").html(row);
                },
                error: function (result) {
                    alert("Error");
                },
            });
        };

        $('#getAll').click(function () {
            GetEmployees();
        });
    });

</script>
