@model List<Lab.EF.MVC.Models.RegionView>

@{
    ViewBag.Title = "Regions";
}

<h2 class="text-center">Regions</h2>

<hr />

<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>
                Region ID
            </th>
            <th>
                Region Description
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => region.RegionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => region.RegionDescription)
                </td>

            </tr>
        }
    </tbody>
</table>
