@model Lab.EF.MVC.Models.ProductView

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Edit Product</h2>

<hr />

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{

    @Html.Hidden("ProductID")
    @Html.Partial("_Products")
}

